# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DS & Alg\Stack_D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
